[package]
name = "rabbit-digger"
version = "0.1.1"
authors = ["spacemeowx2 <spacemeowx2@gmail.com>"]
edition = "2021"
description = "Just a stub"
license = "MIT OR Apache-2.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.38"
rd-interface = { path = "./rd-interface", version = "0.4" }
rd-std = { path = "./rd-std", version = "0.1", optional = true }
futures = "0.3.5"
serde = { version = "1.0.119", features = ["rc"] }
serde_with = "1.8.1"
tokio = { version = "1.12.0", features = ["full"] }
structopt = { version = "0.3.21", default-features = false, features = ["paw"] }
paw = "1.0.0"
tracing = "0.1.26"
tracing-subscriber = { version = "0.3.7", optional = true }
dotenv = "0.15.0"
serde_yaml = "0.8.15"
serde_json = "1.0"
smoltcp = { version = "0.8.0", default-features = false, features = [
    "std",
    "proto-ipv4",
    "proto-ipv6",
] }
uuid = { version = "0.8.2", features = ["v4", "serde"] }
topological-sort = "0.1"
lru_time_cache = "0.11"
parking_lot = "0.12.0"
atomic-shim = "0.2.0"
dashmap = { version = "4.0.2", features = ["serde"] }
indexmap = { version = "1.7.0", features = ["serde"] }

[dev-dependencies]
rusty-hook = "0.11.0"
tokio = { version = "1.5.0", features = ["macros"] }

[features]
default = ["rd-std"]

[workspace]
members = ["rd-interface", "rd-std", "rd-derive"]

[profile.release]
lto = true
codegen-units = 1
panic = 'abort'

[[bin]]
name = "rabbit-digger"
required-features = ["tracing-subscriber"]
