cargo-features = ["strip"]

[package]
name = "rabbit-digger-pro"
version = "0.1.0"
authors = ["spacemeowx2 <spacemeowx2@gmail.com>"]
edition = "2018"
description = "Just a stub"
license = "MIT OR Apache-2.0"

[dependencies]
anyhow = "1.0.38"
tokio = { version = "1.5.0", features = ["full"] }
tokio-util = { version = "0.6.7", features = ["codec"] }
tokio-stream = { version = "0.1.6", features = ["net", "sync"] }
structopt = { version = "0.3.21", features = ["paw"] }
paw = "1.0.0"
tracing = "0.1.26"
tracing-subscriber = { version = "0.2.18", optional = true }
rabbit-digger = { version = "0.1", path = "./rabbit-digger" }
notify-stream = "0.1.1"
futures = "0.3"
pin-project-lite = "0.2.6"
serde_yaml = "0.8.15"
yaml-merge-keys = { version = "0.4.1", features = ["serde_yaml"] }
serde_json = "1.0"
serde = "1.0.119"
serde_derive = "1.0.119"
warp = { version = "0.3.1", default-features = false, features = ["websocket"], optional = true }
dirs = { version = "3.0.2", optional = true }
rd-interface = { path = "./rabbit-digger/rd-interface/", version = "0.4" }

ss = { path = "./protocol/ss", optional = true }
trojan = { path = "./protocol/trojan", optional = true }
remote = { path = "./protocol/remote", optional = true }
raw = { path = "./protocol/raw", optional = true }
obfs = { path = "./protocol/obfs", optional = true }

console-subscriber = { git = "https://github.com/tokio-rs/console", rev = "b345084b203af2a4ceb4b9e6b3840cb7fe5667f9", optional = true }

[dev-dependencies]
rusty-hook = "0.11.0"

[features]
default = [ "api_server", "translate", "ss", "trojan", "remote", "obfs" ]
translate = []
api_server = [ "warp", "dirs" ]
local_log = [ "rabbit-digger/local_log" ]
console = ["console-subscriber"]

[workspace]
members = [
    "protocol/ss",
    "protocol/trojan",
    "protocol/remote",
    "protocol/raw",
    "protocol/obfs",
]
exclude = ["rabbit-digger"]

[profile.release]
lto = true
codegen-units = 1
panic = 'abort'
strip = "symbols"

[[bin]]
name = "rabbit-digger-pro"
required-features = ["tracing-subscriber"]
