[package]
name = "trojan"
version = "0.1.0"
authors = ["spacemeowx2 <spacemeowx2@gmail.com>"]
edition = "2018"

[dependencies]
rd-interface = { path = "../../rabbit-digger/rd-interface/", version = "0.4" }
serde = "1.0"
tracing = "0.1.26"
sha2 = "0.9.5"
hex = "0.4.3"
socks5-protocol = "0.3.4"
futures = "0.3"
tokio = "1.0"

tokio-rustls = { version = "0.22.0", features = ["dangerous_configuration"], optional = true }
webpki-roots = { version = "0.21.1", optional = true }

openssl-crate = { package = "openssl", version = "0.10", features = ["vendored"], optional = true }
tokio-openssl = { version = "0.6.1", optional = true }

tokio-native-tls = { version = "0.3.0", optional = true }
native-tls-crate = { package = "native-tls", version = "0.2", features = ["vendored"], optional = true }

[features]
default = ["native-tls"]
rustls = ["tokio-rustls", "webpki-roots"]
openssl = ["openssl-crate", "tokio-openssl"]
native-tls = ["tokio-native-tls", "native-tls-crate"]
